/debian/.debhelper
/debian/gpiod-frequency
/debian/libgpiod-frequency-counter
/debian/libgpiod-frequency-counter-dev
/debian/python3-libgpiod-frequency-counter
/debian/files
/debian/tmp
/debian/*.substvars
*.so
*.a
*.o
*.log
bin
dep
obj
