Source: libgpiod-frequency-counter
Maintainer: MAINTAINER <user@localhost.localdomain>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper(>= 9), libgpiod-dev, python3-dev

Package: libgpiod-frequency-counter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgpiod2
Description: Frequency counter for libgpiod - shared libraries

Package: libgpiod-frequency-counter-dev
Architecture: any
Depends: libgpiod-frequency-counter
Description: Frequency counter for libgpiod - static libraries and headers

Package: gpiod-frequency
Architecture: any
Depends: ${shlibs:Depends}, libgpiod-frequency-counter
Description: Frequency counter for libgpiod - binary

Package: python3-libgpiod-frequency-counter
Architecture: any
Depends: python3-libgpiod, libgpiod-frequency-counter
Description: Frequency counter for libgpiod - Python bindings
